/* CSS for small devices */
@media (max-width: 767px) {
  .app {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 390px;
    background: linear-gradient(
      to right,
      rgb(100, 116, 139),
      rgb(254, 249, 195)
    );
  }
}

/* CSS for desktop */
@media (min-width: 768px) {
  .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 390px;
    background: linear-gradient(
      to right,
      rgb(100, 116, 139),
      rgb(254, 249, 195)
    );
  }
}
